.main{
    margin: 0 auto;
    padding: 2rem;
}
.main h1{
    font-family: "Chelsea Market", system-ui;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.btnFilter{
    background-color: var(--Pink);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.25rem;
    color: var(--Dark-Pink-Red);
    border: 1px solid var(--Light-Yellow);
    align-items: flex-start;

}

.btnFilter:hover{
    background-color: var(--Light-Yellow);
    cursor: pointer;
}



.filterContent{
    text-align: left;
}
.filterContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
}


.filterElement{
margin-bottom: 1rem;   
}

.filterElement h4{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: left;
}

.filterContainer :global(.ant-tag-checkable) {
    border: 1px solid var(--Light-Yellow);
    color: var(--Light-Yellow);
    font-weight: 500;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.filterContainer :global(.ant-tag-checkable-checked) {
    background-color: var(--Light-Yellow);
    color: var(--Dark-Pink-Red);
    border: 1px solid var(--Light-Yellow);
}




.placeContainer{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 1rem;
  background-color: var(--Transparent);
  border: 1px solid var(--Pink);
  border-radius: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
 
}

.placeContainer:hover{
    background-color: #B98778;
    cursor: pointer;
}

.placeContainer h3{
  font-family: "Chelsea Market", system-ui;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  
}
.placeContainer h3 a{
    text-decoration: none;
      text-decoration: none;
  color: inherit;
}

.placeContainer h3 a:hover{
    color: var(--Pink);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.placeTags{
    background-color: var(--Pink);
    color: var(--Dark-Pink-Red);
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    font-weight: 500;
}
.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.placePrice{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--Pink);
}

