.main{
    margin: 0 auto;
}

.planContainer{
    background-color: var(--Transparent);
    border: 1px solid var(--Pink);
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
}

.planContainer h3{
    font-family: "Chelsea Market", system-ui;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.planContainer a{
    text-decoration: none;
    color: var(--Light-Yellow);
}

.planContainer a:hover{
    color: var(--Pink);
    cursor: pointer;
}

.planData{
    font-size: 1.2rem;
      margin: 0.25rem 0 0.75rem;

}

.planTitle{
    display: flex;
    align-items: center;
    gap: 1rem
}
/* .link{
    text-decoration: none;
    color: var(--Light-Yellow);
    font-weight: 700;
}
.link:hover{
    color: var(--Pink);
    cursor: pointer;
    text-decoration: underline;
} */
.noPlans{
    text-align: center;
    color: var(--White);
}

.inviteLink{
    display: inline-block;
    border-radius: 1rem;
    background-color: var(--White);
    color: var(--Pink);
    font-weight: 400;
    padding: 0.2rem 0.5rem;
}