.main {
    margin: 0 auto;
}

.planContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--Transparent);
    border: 1px solid var(--Pink);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: inherit;
}

.planContainer:hover {
    background-color: #B98778;
    cursor: pointer;
}

.planContainer h3 {
    font-family: "Chelsea Market", system-ui;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.planContainer a {
    text-decoration: none;
    color: var(--Light-Yellow);
}

.planContainer a:hover {
    color: var(--Pink);
    cursor: pointer;
}

.planData {
    font-size: 1.2rem;
    margin: 0.25rem 0 0.75rem;

}

.planTitle {
    display: flex;
    align-items: center;
    gap: 1rem
}

.link {
    text-decoration: none;
    background-color: var(--Dark-Yellow);
    color: var(--Dark-Pink-Red);
    border-radius: 1rem;
    padding: 0.5rem 1.25rem;
    font-weight: 700;
}

.link:hover {
    background-color: var(--Light-Yellow);
    color: var(--Pink);
    cursor: pointer;
}

.noPlans {
    text-align: center;
    color: var(--White);
    /* font-weight: 500; */
    font-size: 35px;
    margin-bottom: 2rem;
}
.linkContainer{
        background-color: var(--Transparent);
    border: 1px solid var(--Pink);
    border-radius: 1rem;
    padding: 1rem;
}

.inviteLink {
    display: inline-block;
    border-radius: 1rem;
    background-color: var(--White);
    color: var(--Dark-Pink-Red);
    font-weight: 400;
    font-size: 20px;
    padding: 0.2rem 0.5rem;
}
