.main {
    margin: 0 auto;
    padding: 2rem;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.formElement {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.formElement label {
    font-weight: 500;
}

.formInput {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
}

.btnInvite {
    background-color: var(--Dark-Yellow);
    color: var(--Dark-Pink-Red);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    font-weight: 700;

}

.btnInvite:hover {
    background-color: var(--Light-Yellow);
    cursor: pointer;
}

.hr {
    border: none;
    border-top: 1px solid var(--Pink);
    margin: 1.5rem 0;
}

.inviteContainer {
    background-color: var(--Transparent);
    border: 1px solid var(--Pink);
    border-radius: 1rem;
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inviteContainer h4 {
    margin: 0;
    font-weight: 500;
}

.noInvites {
    color: var(--White);
}

.errorText {
    color: var(--Pink-Red);
    font-weight: 700;
    margin-bottom: 1rem;
}