.PageSignin h1 {
    font-family: "Chelsea Market", system-ui;
    text-align: left;
    margin-left: 13rem;
    margin-top: 2rem;
    margin-bottom: 0;
}
/* .PageSignUp{
    min-height: 100vh;
} */
.content{
    text-align: left;
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 100px);

}

img{
    width: 40%;
    object-fit: cover;
    object-position: center;
}
.SignInForm {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}

.formElement {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formInput {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 15rem;
    height: 1rem;
}

.formLabel {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btnSign {
    border: none;
    border-radius: 1rem;
    padding: 0.4rem;
    width: 6rem;
    height: 2rem;
    color: var(--Dark-Pink-Red);
    background-color: var(--Dark-Yellow);
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
}

.btnSign:hover{
    cursor: pointer;
    background-color: #bd9f77 ;
}

.btnCancel{
    border: none;
    border-radius: 1rem;
    padding: 0.4rem;
    width: 6rem;
    height: 2rem;
    color: var(--Dark-Yellow);
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    background-color: var(--Pink-Red);
}

.btnCancel:hover{
    cursor: pointer;
    background-color: var(--Dark-Pink-Red);
}