.main h1 {
    font-family: "Chelsea Market", system-ui;
    text-align: left;
    margin-left: 13rem;
    margin-top: 4rem;
    margin-bottom: 0;
}

.main p{
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-weight: 400;
    text-align: left;
    margin-left: 14rem;
}
.content{
    text-align: left;
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 100px);

}

img{
    width: 40%;
    object-fit: cover;
    object-position: center;
}
.SignInForm {
    background-color:#b9877834;
    display: flex;
    flex: 0 1 430px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    margin: auto;
    margin-top: 6px;
    
}

.formElement {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formInput {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.3rem;
    width: 15rem;
    height: 1rem;
    outline: none;
    background-color: var(--Dark-Yellow);
    
}

.formInput:focus{
    cursor: text;
    border-color: var(--Pink-Red);
     box-shadow: 0 0 0 2px var(--Pink-Red); 

}

.formLabel {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btnSign {
    border: none;
    border-radius: 1rem;
    padding: 0.4rem;
    width: 6rem;
    height: 2rem;
    color: var(--Dark-Pink-Red);
    background-color: var(--Dark-Yellow);
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
}

.btnSign:hover{
    cursor: pointer;
    background-color: #bd9f77 ;
}

.btnCancel{
    border: none;
    border-radius: 1rem;
    padding: 0.4rem;
    width: 6rem;
    height: 2rem;
    color: var(--Dark-Yellow);
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    background-color: var(--Pink-Red);
}

.btnCancel:hover{
    cursor: pointer;
    background-color: var(--Dark-Pink-Red);
}

.link{
    color: var(--Light-Yellow);
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}

.link:hover{
    color: var(--Pink-Red);
    cursor: pointer;
}
