
.main{
    min-height: 100vh;
}

.main h1 {
    font-family: "Chelsea Market", system-ui;
    text-align: right;
    margin-right: 9.5rem;
    margin-top: 3rem;
    margin-bottom: 0;
    
}
.main p{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    text-align: right;
    margin-right: 14rem;
}
.content{
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 100px);
}

img{
    width: 40%;
    height: 100%; 
}


.formSignUp {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-top: 0; 

}

.formElement {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formInput {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 15rem;
    height: 1rem;
}

.formLabel {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btnSign {
    border: none;
    border-radius: 1rem;
    padding: 0.4rem;
    width: 6rem;
    height: 2rem;
    color: var(--Dark-Pink-Red);
    background-color: var(--Dark-Yellow);
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
}

.btnSign:hover{
    cursor: pointer;
    background-color: #bd9f77 ;
}

.btnCancel{
    border: none;
    border-radius: 1rem;
    padding: 0.4rem;
    width: 6rem;
    height: 2rem;
    color: var(--Dark-Yellow);
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    background-color: var(--Pink-Red);
}

.btnCancel:hover{
    cursor: pointer;
    background-color: var(--Dark-Pink-Red);
}

.link{
    color: var(--Light-Yellow);
    font-weight: 700;
    cursor: pointer;
}

.link:hover{
    color: var(--Pink-Red);
    cursor: pointer;
}
